<header class="headerxd" data-header>
<div class="containerxd">
  <a href="{{ path('app_home') }}" class="logo" title="Accueil"><img src="{{ asset('images/foncpubli1.png') }}" class="logo" alt="logo"></a>

    <button class="menu-toggle-btn icon-box" data-menu-toggle-btn aria-label="Toggle Menu">
    <span class="material-symbols-rounded  icon">menu</span>
  </button>
{% if app.user %}
  <nav class="navbarxd">
    <div class="containerxd">
    
    {% if is_granted('ROLE_AGENT_ACCUEIL') %}

      <ul class="navbarxd-list">

        {# <li>
          <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li> #}
        <li class="menu-deroulant">
              <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">filter_list</span>

                <span title="Afficher la liste des demandes de rendez-vous">Requêtes</span>
              </a>
              <ul class="sous-menu">
                <li><a href="{{ path('app_home') }}">Demandes à traiter</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{{ path('app_reclamation') }}">Réclamations à traiter</a></li>
            </ul>
              
        </li>

        {# <li>
          <a href="{{ path('app_demande_rdv') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>

            <span title="Afficher les statistiques des demandes de rendez-vous">Réclamation</span>
          </a>
        </li>  #}

        <li class="menu-deroulant">
          <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>

            <span title="Gérer mes demandes de rendez-vous">Espace personnel</span>
          </a>
            <ul class="sous-menu">
                <li><a href="{{ path('app_demande_rdv_agt') }}">Formuler une demande</a></li>
                <li><a href="{{ path('app_reclamation_agent') }}">Faire une Réclamation</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{{ path('app_liste_rdv_agt') }}">Suivi des requêtes</a></li>
            </ul>
        </li> 
        <ul class="user-action-list">
        <li>
          <a href="{{ path('app_destinataire') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>

            <span title="Afficher les statistiques des demandes de rendez-vous">Dossiers traités</span>
          </a>
        </li> 
      </ul>
        <ul class="user-action-list">

          <li>
            <a href="#" class="notification icon-box">
            <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
            </a>
          </li>

          <li>
            <a href="#" class="headerxd-profile">

            <figure class="profile-avatar">
              <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
            </figure>

            <div>
             <p class="profile-title">{{ app.user.userIdentifier }}</p>
             <p class="profile-subtitle">Agent du CRUC</p>                
            </div>
            </a>

          </li>
        </ul>
      
    {% endif %}

    {% if is_granted('ROLE_SUPERVISEUR') %}
    <ul class="navbarxd-list">

    {# <li>
      <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
        <span class="material-symbols-rounded  icon">grid_view</span>

        <span>Accueil</span>
      </a>
    </li> #}
    <li class="menu-deroulant">
          <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>

            <span title="Liste des demandes de rendez-vous">Espace CRUC</span>
          </a>
          <ul class="sous-menu">
            <li><a href="{{ path('app_home') }}">Demandes en cours</a></li>
            <li><a href="{{ path('app_reclamation') }}">Réclamations en cours</a></li>
            <li><hr class="dropdown-divider"></li>
            <li ><a href="{{ path('app_sup_requete_traite_cruc') }}">Requêtes traitées</a></li>
          <li><hr class="dropdown-divider"></li>
          <li ><a href="{{ path('app_sup_valide_rdv') }}">Prise de Rendez-vous</a></li>

        </ul>
          
    </li>
    <li class="menu-deroulant">
          <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">filter_list</span>

            <span title="Afficher la liste des demandes de rendez-vous">Espace DPA</span>
          </a>
          <ul class="sous-menu">
            <li><a href="{{ path('app_sup_requete') }}">Demandes en cours</a></li>
            <li><a href="{{ path('app_sup_reclamation') }}">Réclamations en cours</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{{ path('app_sup_requete_traite_dpa') }}">Requêtes traitées</a></li>
        </ul>
          
    </li>

    {# <li>
      <a href="{{ path('app_demande_rdv') }}" class="navbarxd-link icon-box">
        <span class="material-symbols-rounded  icon">Leaderboard</span>

        <span title="Afficher les statistiques des demandes de rendez-vous">Réclamation</span>
      </a>
    </li>  #}
    

    <li class="menu-deroulant">
      <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
        <span class="material-symbols-rounded  icon">today</span>

        <span title="Gestion de rendez-vous">Espace personnel</span>
      </a>
        <ul class="sous-menu">
            <li><a href="{{ path('app_demande_rdv_agt') }}">Soumettre une requête</a></li>
            <li><a href="{{ path('app_reclamation_agent') }}">Faire une Réclamation</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{{ path('app_liste_rdv_agt') }}">Suivi des requêtes</a></li>
        </ul>
    </li> 
    
          <li>
          <a href="{{ path('app_statsrdv') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>

            <span title="Afficher les statistiques des demandes de rendez-vous">Statistiques</span>
          </a>
        </li> 

      </ul>
        <ul class="user-action-list">

          <li>
              <a href="#" class="notification icon-box">
              <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
              </a>
          </li>

          <li class="menu-deroulant">
            <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">              
              <figure class="profile-avatar">
              <img src="{{ asset('images/avatar-1.jpg') }}" alt="Utilisateur connecté" width="32" height="32">
              </figure>

              <div>
              <p class="profile-title">{{ app.user.userIdentifier }}</p>
              <p class="profile-subtitle">Superviseur</p>                
              </div>

              </a>
              <ul class="sous-menu">
                <li><a class="dropdown-item" href="{{ path('app_modif_password', {'id': user.id}) }}">Changer de mot de passe</a></li>
                
              </ul>
          </li>

        </ul>
  
        {% endif %}

         {% if is_granted('ROLE_GEST_1') %}
       <ul class="navbarxd-list">
       <li>
          <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li>  
            <li>
              <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">filter_list</span>

                <span title="Affichage des demandes de rendez-vous">Liste des requêtes</span>
              </a>
            </li>

            <li>
              <a href="{{ path('app_gest_reclamation') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">settings_suggest</span>

                <span title="Suivre le traitement des demandes de rendez-vous">Réclamations</span>
              </a>
            </li>

            <li>
              <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">today</span>

                <span title="Afficher de traitement des demandes de rendez-vous">Historiques</span>
              </a>
            </li>            

          </ul>

          <ul class="user-action-list">

            <li>
              <a href="#" class="notification icon-box">
                <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
              </a>
            </li>

            <li>
              <a href="#" class="headerxd-profile">

                <figure class="profile-avatar">
                  <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
                </figure>

                <div>
                 <p class="profile-title">{{ app.user.userIdentifier }}</p>
                 <p class="profile-subtitle">DPA de la DSI</p>                
                </div>

              </a>
            </li>

          </ul>

        {% endif %}

        {% if is_granted('ROLE_GEST_2') %}
        <ul class="navbarxd-list">
        <li>
           <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
             <span class="material-symbols-rounded  icon">grid_view</span>
 
             <span>Accueil</span>
           </a>
         </li>  
             <li>
               <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                 <span class="material-symbols-rounded  icon">filter_list</span>
 
                 <span title="Affichage des demandes de rendez-vous">Liste des requêtes</span>
               </a>
             </li>
 
             <li>
               <a href="{{ path('app_gest_reclamation_dir_2') }}" class="navbarxd-link icon-box">
                 <span class="material-symbols-rounded  icon">settings_suggest</span>
 
                 <span title="Suivre le traitement des demandes de rendez-vous">Réclamations</span>
               </a>
             </li>
 
             <li>
               <a href="{{ path('app_ges_stat') }}" class="navbarxd-link icon-box">
                 <span class="material-symbols-rounded  icon">today</span>
 
                 <span title="Afficher de traitement des demandes de rendez-vous">Historique</span>
               </a>
             </li>            
 
           </ul>
 
           <ul class="user-action-list">
 
             <li>
               <a href="#" class="notification icon-box">
                 <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
               </a>
             </li>
 
             <li>
               <a href="#" class="headerxd-profile">
 
                 <figure class="profile-avatar">
                   <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
                 </figure>
 
                 <div>
                  <p class="profile-title">{{ app.user.userIdentifier }}</p>
                  <p class="profile-subtitle">DPA de la DGAPCE</p>                
                 </div>
 
               </a>
             </li>
 
           </ul>
 
         {% endif %}

         {% if is_granted('ROLE_GEST_3') %}
        <ul class="navbarxd-list">
        <li>
           <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
             <span class="material-symbols-rounded  icon">grid_view</span>
 
             <span>Accueil</span>
           </a>
         </li>  
             <li>
               <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                 <span class="material-symbols-rounded  icon">filter_list</span>
 
                 <span title="Affichage des demandes de rendez-vous">Liste des requêtes</span>
               </a>
             </li>
 
             <li>
               <a href="{{ path('app_gest_reclamation_dir_3') }}" class="navbarxd-link icon-box">
                 <span class="material-symbols-rounded  icon">settings_suggest</span>
 
                 <span title="Suivre le traitement des demandes de rendez-vous">Réclamations</span>
               </a>
             </li>
 
             <li>
               <a href="{{ path('app_ges_stat') }}" class="navbarxd-link icon-box">
                 <span class="material-symbols-rounded  icon">today</span>
 
                 <span title="Afficher de traitement des demandes de rendez-vous">Historique</span>
               </a>
             </li>            
 
           </ul>
 
           <ul class="user-action-list">
 
             <li>
               <a href="#" class="notification icon-box">
                 <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
               </a>
             </li>
 
             <li>
               <a href="#" class="headerxd-profile">
 
                 <figure class="profile-avatar">
                   <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
                 </figure>
 
                 <div>
                  <p class="profile-title">{{ app.user.userIdentifier }}</p>
                  <p class="profile-subtitle">DPA de la DRH</p>                
                 </div>
 
               </a>
             </li>
 
           </ul>
 
         {% endif %}

        {% if is_granted('ROLE_CHEF_SERVICE') %}
        <ul class="navbarxd-list">
       <li>
          <a href="{{ path('app_cshome') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li>         
        <li>
          <a href="{{ path('app_csdem') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>

            <span title="Affichage des demandes de rendez-vous">Soumettre une requête</span>
          </a>
        </li>
        <li>
          <a href="{{ path('app_cstreat') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>
            <span title="Suivre le traitement des demandes de rendez-vous">Traitements des requêtes</span>
          </a>
        </li>
        <li>
          <a href="{{ path('app_statsrdvcs') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>
            <span title="Afficher les statistiques des demandes de rendez-vous">Statistiques</span>
          </a>
        </li> 

      </ul>
      <ul class="user-action-list">
        <li>
          <a href="#" class="notification icon-box">
            <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
          </a>
        </li>
        <li>
          <a href="#" class="headerxd-profile">

            <figure class="profile-avatar">
              <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
            </figure>
            <div>
             <p class="profile-title">{{ app.user.userIdentifier }}</p>
             <p class="profile-subtitle">Chef de Service</p>                
            </div>
          </a>
        </li>

      </ul>
    {% endif %}

      <ul class="navbarxd-list">
        <li>
          <a href="{{ path('app_logout') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon" title="Se déconnecter">Logout</span>
          </a>
        </li>
      </ul>
    
    </div>
  
  </nav>
{% endif %}
</div>
</header>