<header class="headerxd" data-header>
<div class="containerxd">
  <a href="#" class="logo" title="Accueil"><img src="{{ asset('images/foncpubli1.png') }}" class="logo" alt="logo"></a>

    <button class="menu-toggle-btn icon-box" data-menu-toggle-btn aria-label="Toggle Menu">
    <span class="material-symbols-rounded  icon">menu</span>
  </button>

  <nav class="navbarxd">
    <div class="containerxd">

    {% if is_granted('ROLE_AGENT_ACCUEIL') %}

      <ul class="navbarxd-list">

        <li>
          <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li>
        <li>
              <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">filter_list</span>

                <span title="Afficher la liste des demandes de rendez-vous">Liste requêtes</span>
              </a>
        </li>

         <li>
          <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>

            <span title="Afficher les statistiques des demandes de rendez-vous">Statistiques</span>
          </a>
        </li> 

        <li class="menu-deroulant">
          <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>

            <span title="Gérer mes demandes de rendez-vous">Espace personnel</span>
          </a>
            <ul class="sous-menu">
                <li><a href="{{ path('app_demande_rdv') }}">Soumettre une requête</a></li>
                <li><a href="{{ path('app_liste_rdv') }}">Mes requêtes</a></li>
            </ul>
        </li> 
     
        <ul class="user-action-list">

          <li>
            <a href="#" class="notification icon-box">
            <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
            </a>
          </li>

          <li>
            <a href="#" class="headerxd-profile">

            <figure class="profile-avatar">
              <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
            </figure>

            <div>
             <p class="profile-title">{{ app.user.userIdentifier }}</p>
             <p class="profile-subtitle">Agent d'Accueil</p>                
            </div>
            </a>

          </li>
        </ul>
      
    {% endif %}

    {% if is_granted('ROLE_SUPERVISEUR') %}
      <ul class="navbarxd-list">
       <li>
          <a href="{{ path('app_suphome') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li>  
        <li>
          <a href="{{ path('app_createrdv') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>

            <span title="Prise de rendez-vous pour les usagers clients">Soumettre une requête</span>
          </a>
        </li>

        <li>
          <a href="{{ path('app_listrdv') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>

            <span title="Afficher la liste des demandes de rendez-vous">Liste des requêtes</span>
          </a>
        </li>

        <li>
          <a href="{{ path('app_statsrdv') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>

            <span title="Afficher les statistiques des demandes de rendez-vous">Statistiques</span>
          </a>
        </li> 

      
        <ul class="user-action-list">

          <li>
              <a href="#" class="notification icon-box">
              <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
              </a>
          </li>

          <li>
              <a href="#" class="headerxd-profile">

              <figure class="profile-avatar">
              <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
              </figure>

              <div>
              <p class="profile-title">{{ app.user.userIdentifier }}</p>
              <p class="profile-subtitle">Superviseur</p>                
              </div>

              </a>
          </li>

        </ul>
  
        {% endif %}

         {% if is_granted('ROLE_GEST') %}
       <ul class="navbarxd-list">
       <li>
          <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li>  
            <li>
              <a href="{{ path('app_ges_dem') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">filter_list</span>

                <span title="Affichage des demandes de rendez-vous">Liste des requêtes</span>
              </a>
            </li>

            <li>
              <a href="{{ path('app_ges_treat') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">settings_suggest</span>

                <span title="Suivre le traitement des demandes de rendez-vous">Traitements des requêtes</span>
              </a>
            </li>

            <li>
              <a href="{{ path('app_ges_stat') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded  icon">settings_suggest</span>

                <span title="Afficher de traitement des demandes de rendez-vous">Statistiques</span>
              </a>
            </li>            

          </ul>

          <ul class="user-action-list">

            <li>
              <a href="#" class="notification icon-box">
                <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
              </a>
            </li>

            <li>
              <a href="#" class="headerxd-profile">

                <figure class="profile-avatar">
                  <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
                </figure>

                <div>
                 <p class="profile-title">{{ app.user.userIdentifier }}</p>
                 <p class="profile-subtitle">Gestionnaire</p>                
                </div>

              </a>
            </li>

          </ul>

        {% endif %}
        {% if is_granted('ROLE_CHEF_SERVICE') %}
        <ul class="navbarxd-list">
       <li>
          <a href="{{ path('app_cshome') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon">grid_view</span>

            <span>Accueil</span>
          </a>
        </li>         
        <li>
          <a href="{{ path('app_csdem') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>

            <span title="Affichage des demandes de rendez-vous">Soumettre une requête</span>
          </a>
        </li>
        <li>
          <a href="{{ path('app_cstreat') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">today</span>
            <span title="Suivre le traitement des demandes de rendez-vous">Traitements des requêtes</span>
          </a>
        </li>
        <li>
          <a href="{{ path('app_statsrdvcs') }}" class="navbarxd-link icon-box">
            <span class="material-symbols-rounded  icon">Leaderboard</span>
            <span title="Afficher les statistiques des demandes de rendez-vous">Statistiques</span>
          </a>
        </li> 

      </ul>
      <ul class="user-action-list">
        <li>
          <a href="#" class="notification icon-box">
            <span class="material-symbols-rounded  icon" title="Les notifications">notifications</span>
          </a>
        </li>
        <li>
          <a href="#" class="headerxd-profile">

            <figure class="profile-avatar">
              <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
            </figure>
            <div>
             <p class="profile-title">{{ app.user.userIdentifier }}</p>
             <p class="profile-subtitle">Chef de Service</p>                
            </div>
          </a>
        </li>

      </ul>
    {% endif %}

      <ul class="navbarxd-list">
        <li>
          <a href="{{ path('app_logout') }}" class="navbarxd-link activexd icon-box">
            <span class="material-symbols-rounded  icon" title="Se déconnecter">Logout</span>
          </a>
        </li>
      </ul>
      
    </div>
  </nav>

</div>
</header>