<header class="headerxd" data-header>
    <div class="containerxd">
      <a href="{{ path('app_home') }}" class="logo" title="Accueil"><img src="{{ asset('images/foncpubli1.png') }}" class="logo" alt="logo"></a>


      <button class="menu-toggle-btn icon-box" data-menu-toggle-btn aria-label="Toggle Menu">
        <span class="material-symbols-rounded icon">menu</span>
      </button>

      <nav class="navbarxd">
        <div class="containerxd">

          <ul class="navbarxd-list">

            <li>
              <a href="{{ path('app_home') }}" class="navbarxd-link activexd icon-box">
                <span class="material-symbols-rounded icon">grid_view</span>

                <span>Accueil</span>
              </a>
            </li>
            
            <li>
              <a href="{{ path('app_demande_rdv') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded icon">today</span>

                <span title="Prise de rendez-vous pour les usagers clients">Soumettre une requête</span>
              </a>
              
            </li>
         
            <li>
              <a href="{{ path('app_reclamation_form') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded icon">question_answer</span>

                <span title="Afficher la liste de mes demandes de rendez-vous">Réclamation</span>
              </a>
            </li>  

            <li class="menu-deroulant">
              <a href="{{ path('app_home') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded icon">list</span>

                <span title="Afficher la liste de mes demandes de rendez-vous">Mes requêtes</span>
              </a>
              <ul class="sous-menu">
                <li><a href="{{ path('app_liste_reclame') }}">Liste des réclamations</a></li>
                <li><a href="{{ path('app_liste_rdv') }}">Liste des requêtes </a></li>
              </ul>
            </li>   
                 
          </ul>
          <ul class="user-action-list">
          <li>
              <a href="{{ path('app_infos') }}" class="navbarxd-link icon-box">
                <span class="material-symbols-rounded icon">info</span>

                <span title="Afficher la liste de mes demandes de rendez-vous">Services offerts</span>
              </a>
          </li>   
          
            <li>
              <a href="#" class="notification icon-box">
                <span class="material-symbols-rounded icon" title="Les notifications">notifications</span>
              </a>
            </li>

            <li>
              <a href="#" class="headerxd-profile">

                <figure class="profile-avatar">
                  <img src="{{ asset('images/avatar-1.jpg') }}" alt="Gomé Cyrille" width="32" height="32">
                </figure>

                <div>
                 <p class="profile-title">{{ app.user.userIdentifier }}</p>
                 <p class="profile-subtitle">Usager Client</p>                
                </div>

              </a>
            </li>

          </ul>

          <ul class="navbarxd-list">
            <li>
              <a href="{{ path('app_logout') }}" class="navbarxd-link activexd icon-box">
                <span class="material-symbols-rounded icon" title="Se déconnecter">Logout</span>
              </a>
            </li>
          </ul>
          
        </div>
      </nav>

    </div>
  </header>