{% extends 'base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}
<main>
    <article class="containerxd article">

      <h2 class="h2 article-title">Système de Gestion du Centre de Relation des Usagers Clients (CRUC)</h2>

      <p class="article-subtitle">Formulaire de prise de rendez-vous pour les usagers clients !</p>

     
      {# <form class="demandeForm" method="post" enctype="multipart/form-data"> #}
       {{ form_start(demande_form) }}

            <!-- Row -->
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-headerxd">
                            <h4 class="card-titlexd">Nouvelle demande de rendez-vous</h4>
                        </div>
                        <div class="card-body">
                                <div class=" row mb-4">
                                    <label class="col-md-3 form-label">Motif :</label>
                                    <div class="col-md-9">

                                    {{ form_widget(demande_form.codeMotif) }}
                                        
                                    </div>
                                </div>
                               
                        <div class=" row mb-4">
                            <label class="col-md-3 form-label">Description :</label>
                            <div class="col-md-9">
                                {{ form_widget(demande_form.descriptDde) }}       
                        {# <textarea class="form-control mb-4" placeholder="" rows="2" name="autre_motif"></textarea> #}
                            </div>
                        </div>             
                        </div>
                        </div>
                </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="card">
                                <div class="card-headerxd">
                                    <h4 class="card-titlexd">Plage horaire</h4>
                                </div>
                                <div class="card-body">               
                                        <div class=" row mb-4">
                                <label class="col-md-3 form-label">Date de rendez-vous :</label>
                                <div class="col-md-9">
                                {{ form_widget(demande_form.dateDemande) }}
                                </div>
                            </div>
                            <div class=" row mb-4">
                                <label class="col-md-3 form-label">Heure de rendez-vous :</label>
                                <div class="col-md-9">
                                    {{ form_widget(demande_form.heureRdv) }}
                                   
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success"> Enregistrer </button>
        
              
            <!-- Row -->
        {# </form>  #}
        {{ form_end(demande_form) }}

    </article>
</main>
{% endblock %}