{% extends 'cs_base.html.twig' %}

{% block title %}CRUC – Centre de Relation Usager-Client{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">
      <h2 class="h2 article-title">LOGICIEL DE GESTION DE LA RELATION USAGER-CLIENT (LOGIREC)</h2>
      <p class="article-subtitle">ECRAN DE CONSULTATION DES REQUÊTES</p>     
        
                                      
     <!-- ROW OPEN -->
                          <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                      <h3 class="card-title">Liste des demandes en cours de traitement </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive" style="">
                                      
                                            <table class="table border text-nowrap text-md-nowrap mb-0">
                                                <thead>
                                                  {% for demande in demande %}
                                                    <tr>
                                                        {# <th>N°</th> #}
                                                        <th>Code </th>
                                                        {# <th>Matricule</th> #}
                                                        <th>Motif </th>
                                                        <th>Date de soumission</th>
                                                        {% if demande.dateRdv %}
                                                        <th>Date rdv</th>
                                                        <th>Heure rdv</th>
                                                        {% endif %}
                                                        {# <th>Heure <br>de départ</th> #}
                                                        {# <th><span class="redcolor">Etat</span></th> #}
                                                        <th>Etat </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  
                                                    <tr class="table-default">
                                                        {# <td>1</td> #}
                                                        <td>{{ demande.codeDde }}</td>
                                                        {# <td>{{ demande.users.matricule }}</td> #}
                                                        <td>{{ demande.codeMotif}}</td>
                                                        {# <td>{{ demande.dateRdv | date('d/m/y') }}</td> #}
                                                        <td>{{ demande.dateDemande | date('d/m/Y')}}</td>
                                                        {% if demande.dateRdv %}
                                                        <td>{{ demande.dateRdv | date('d/m/Y') }}</td>
                                                        <td>{{ demande.heureRdv }}</td>
                                                        {% endif %}
                                                        {# <td>{{ demande.etat }}</td> #}
                                                        {# <td>09H00</td>
                                                        <td>RDV pris</td> #}
                                                        <td>
                                                           
                                                        <a href="{{ path('app_result-traite') }}">{{ demande.etatDemandes }}
                                                        {% if etat_termine == 6 %}
                                                      <span  style="color: red; animation: glowing 1s ease-in-out infinite;">Voir détails</span></a>
                                                      <style>
                                                        @keyframes glowing {
                                                          0% { color: red; }
                                                          50% { color: white; }
                                                          100% { color: red; }
                                                        }
                                                      </style>
                                                       {% endif %}
                                                        </td>
                                                    </tr>
                                                    </tr>  
                                                  {% endfor %}                                                 
                                                </tbody>
                                            </table>

                                                                            
                                        </div>
                                    </div>
                                    <div class="text-center"><a href="#">{{ demande | length }} demande(s) en attente de traitement !</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
                        
    </article>

  </main>

{% endblock %}