{% extends 'cs_base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">

      <h2 class="h2 article-title">Système de Gestion du Centre de Relation des Usagers Clients (CRUC)</h2>
 
      <!-- 
        - #RDV
      -->

      <section class="tasks">       

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Mes demandes de rendez-vous</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table border text-nowrap text-md-nowrap mb-0">
              <thead>
              <tr>
                <th>CODE DE LA DEMANDE</th>
                <th>MOTIF DE LA DEMANDE</th>
                <th>DATE </th>
                <th>HEURE</th>
                <th>ACTIONS</th>
              </tr>
              </thead>
              <tbody>
              
              {% for demande in demandes %}
              <tr class="table-info">
                <td>{{ demande.codeDde }} </td>
                <td>{{ demande.codeMotif }}</td>
                <td>{{ demande.dateDemande | date('d/m/y') }}</td>
                <td>{{ demande.heureRdv }}</td>
                <td>
                  <a href="{{ path('edit_demande_rdv', {'id': demande.id}) }}" class="navbarxd-link activexd icon-box">
                              <span title="Modifier" class="material-symbols-rounded icon">edit</span>
                  </a>
                  <a href="{{ path('delete_demande', {'id': demande.id}) }}" class="navbar-link activexd icon-box">
                            <span title="Annuler" class="material-symbols-rounded icon">delete</span>
                  </a>

                </td>
              </tr>
              {% endfor %}              
              </tbody>
            </table>
          </div>
        </div>
      </div>

      </section>

    </article>
  </main>

{% endblock %}