<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CRUC : Centre de Relation Usager-Client{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="description" content="Centre de Relations des usagers clients" />
        <meta name="keywords" content="CRUC, RDV, centre, relation, usager, client" />
        <meta name="website" content="https://fonctionpublique.gouv.ci" />
        <meta name="email" content="info@fonctionpublique.ci" />
        <meta name="version" content="1.0.0" />
        <!-- favicon -->
        <link href="images/favicon.ico" rel="shortcut icon">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
       
        <!-- Custom  Css -->
        <link href="css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

       <!-- Feuilles de styles -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/skin-modes.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %} {% endblock %}
                <link rel="stylesheet" href="{{ asset('assets/css/style2.css') }}">


  <!-- Fichiers JS -->
      <script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
      <script src="{{ asset('assets/js/apexcharts.js')}}" defer></script>
      <script src="{{ asset('assets/js/jquery.min.js')}}" defer></script>
      <script src="{{ asset('assets/js/feather.min.js')}}" defer></script>
      <script src="{{ asset('assets/js/app.js')}}" defer></script>
        {% block javascripts %} {% endblock %}
              <script src="{{ asset('assets/js/script.js')}}" defer></script>

    </head>
    <body>
       
    
    {% block body %}

    {# <!doctype html>
    <html lang="en">
        {# <head> #}
            {# <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>CRUC : Centre de Relation des Usagers-Clients</title>
            <meta name="description" content="Centre de Relations des usagers clients" />
            <meta name="keywords" content="CRUC, RDV, centre, relation, usager, client" />
            <meta name="website" content="https://fonctionpublique.gouv.ci" />
            <meta name="email" content="info@fonctionpublique.ci" />
            <meta name="version" content="1.0.0" />
            <!-- favicon -->
            <link href="images/favicon.ico" rel="shortcut icon"> #}
            <!-- Bootstrap core CSS -->
            {# <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" /> #}
           
            <!-- Custom  Css -->
            {# <link href="css/style.css" rel="stylesheet" type="text/css" id="theme-opt" /> #}
        {# </head> #} 
    
        {# <body> #}
            <!-- START NAVBAR -->
            {# <nav id="navbar" class="navbar navbar-expand-lg nav-light fixed-top sticky">
                <div class="container">
                    <a class="navbar-brand" href="">
                        <span class="logo-light-mode">
                            <img src="images/logo-cruc.png" class="l-light" alt="">
                            <img src="images/logo-dark.png" class="l-dark" alt="">
                        </span>
                        <img src="images/logo-cruc.png" class="logo-dark-mode" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="menu"></i>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                           
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#contactform">Nous contacter</a>
                            </li>
                        </ul>
    
                        <ul class="list-inline menu-social mb-0 ps-lg-4 ms-2">
                            <li class="list-inline-item"><a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a></li>
                        </ul>
                    </div>
                    <!--end collapse-->
                </div>
                <!--end container-->
            </nav>
            <!-- END NAVBAR --> #}
    
            <!-- Start -->
            <section class="bg-home d-flex align-items-center" data-jarallax='{"speed": 0.5}' style="background: url('images/Imagecruc.jpg');">
                <div class="bg-overlay bg-linear-gradient-3"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="title-heading">
                                <h1 class="heading text-white title-dark mb-4">BIENVENUE AU CENTRE <br>DE RELATION <br>USAGER-CLIENT</h1>
                                <p class="para-desc text-white-100">Un point de contact privilégié avec les usagers-clients<br> du Ministère de la Fonction Publique</p>
                                    <div class="form-row">
                                    <div class="col-xl-3 mb-3">
                                    <a href="{{ path('app_login') }}" class="btn btn-primary m-1 d-flex align-items-center">
                                <span class="mx-auto">Connexion</span></a></a>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="col-xl-3 mb-3">
                                    <a href="{{ path('app_inscription') }}" class="btn btn-primary m-1 d-flex align-items-center">
                                <span class="mx-auto">Créer un compte</span></a>                                 
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </section><!--end section-->
            <!-- End -->
    
          
    
            <!-- JAVASCRIPTS -->
            {# <script src="js/bootstrap.bundle.min.js"></script>
            <script src="js/feather.min.js"></script>  
            <script src="js/app.js"></script> #}
        {# </body> #}
    </html>


    {% endblock %}
        

    </body>
</html>
