{% extends 'base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">
      <h2 class="h2 article-title">SYSTEME DE GESTION DU CENTRE DE RELATION DES USAGERS CLIENTS (CRUC)</h2>
      <p class="article-subtitle">ECRAN DE CONSULTATION DES REQUÊTES</p>     
        
                                      
     <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Recherche</h3>
                                    </div>
                                    <div class="card-body">
                                    {{ form_start(form) }}
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom01" class="redcolor">CODE REQUÊTE</label>
                                                    {# <input type="text" class="form-control" id="validationCustom01" value=""> #}
                                                 {{ form_widget(form.codeDde, { 'attr':
                                                 {'placeholder': 'Entrer le code de rendez-vous'}}) }}
                                                
                                                </div>                                             
                                            </div>
                                                                                       
                                            <button class="btn btn-primary" type="submit">RECHERCHER</button>
                                    {{ form_end(form) }}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Liste des requêtes</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive" style="">
                                        {% if demande %}
                                            <table class="table border text-nowrap text-md-nowrap mb-0">
                                                <thead>
                                                    <tr>
                                                        {# <th>N°</th> #}
                                                        <th>Code rendez-vous</th>
                                                        <th>Matricule</th>
                                                        <th>Nom <br>et prénom(s)</th>
                                                        <th>Date rdv</th>
                                                        <th>Heure </th>
                                                        {# <th>Heure <br>de départ</th> #}
                                                        {# <th><span class="redcolor">Etat</span></th> #}
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  {% for demande in demande %}
                                                    <tr class="table-default">
                                                        {# <td>1</td> #}
                                                        <td>{{ demande.codeDde }}</td>
                                                        <td>{{ demande.users.matricule }}</td>
                                                        <td>{{ demande.users.nom ~ " " ~ demande.users.prenom}}</td>
                                                        <td>{{ demande.dateDemande | date('d/m/y') }}</td>
                                                        <td>{{ demande.heureRdv }}</td>
                                                        {# <td>{{ demande.etat }}</td> #}
                                                        {# <td>09H00</td>
                                                        <td>RDV pris</td> #}
                                                        <td>
                                                            <ul class="online">
                                                                <li>
                                                                <div class="meta-box icon-box">
                                                                    <a href="{{ path('app_ges_trait', {'id': demande.id}) }}" class="navbar-link active icon-box">
                                                                    <span title="Accepter" class="material-symbols-rounded  icon">done</span>
                                                                    </a>
                                                                </div>
                                                                </li>

                                                                {# <li>
                                                                <div class="meta-box icon-box">
                                                                    <a href="#" class="navbar-link active icon-box">
                                                                    <span title="Transférer" class="material-symbols-rounded  icon">send</span>
                                                                    </a>
                                                                </div>
                                                                </li> #}

                                                                {# <li>    
                                                                <div class="meta-box icon-box">
                                                                    <a href="{{ path('edit_demande_rdv', {'id': demande.id}) }}" class="navbar-link active icon-box">
                                                                    <span title="Modifier" class="material-symbols-rounded  icon">edit</span>
                                                                    </a>
                                                                </div>
                                                                </li> #}

                                                                {# <li>
                                                                <div class="meta-box icon-box">
                                                                    <a href="#" class="navbar-link active icon-box">
                                                                    <span title="Alerter" class="material-symbols-rounded  icon">Notifications</span>
                                                                    </a>
                                                                </div>
                                                                </li> #}
                                                                {# <li>
                                                                <div class="meta-box icon-box">
                                                                    <a href="{{ path('delete_demande', {'id': demande.id}) }}" class="navbar-link active icon-box">
                                                                    <span title="Annuler" class="material-symbols-rounded  icon">Cancel</span>
                                                                    </a>
                                                                </div>
                                                                </li> #}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    </tr>  
                                                  {% endfor %}                                                 
                                                </tbody>
                                            </table>

                                            {% else %}

                                            <table class="table border text-nowrap text-md-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    {# <th>N°</th> #}
                                                    <th>Code</th>
                                                    <th>Matricule</th>
                                                    <th>Nom <br>et prénom(s)</th>
                                                    <th>Date rdv</th>
                                                    <th>Heure </th>
                                                    {# <th>Heure <br>de départ</th> #}
                                                    {# <th><span class="redcolor">Etat</span></th> #}
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for demande in demande %}
                                                <tr class="table-default">
                                                    {# <td>1</td> #}
                                                    <td>{{ demande.codeDde }}</td>
                                                    <td>{{ demande.users.matricule }}</td>
                                                    <td>{{ demande.users.nom ~ " " ~ demande.users.prenom}}</td>
                                                    <td>{{ demande.dateDemande | date('d/m/y') }}</td>
                                                    <td>{{ demande.heureRdv }}</td>
                                                    {# <td>{{ demande.etat }}</td> #}
                                                    {# <td>09H00</td>
                                                    <td>RDV pris</td> #}
                                                    <td>
                                                        <ul class="online">
                                                            <li>
                                                            <div class="meta-box icon-box">
                                                                <a href="{{ path('app_ges_trait', {'id': demande.id}) }}" class="navbar-link active icon-box">
                                                                <span title="Accepter" class="material-symbols-rounded  icon">done</span>
                                                                </a>
                                                            </div>
                                                            </li>

                                                            {# <li>
                                                            <div class="meta-box icon-box">
                                                                <a href="#" class="navbar-link active icon-box">
                                                                <span title="Transférer" class="material-symbols-rounded  icon">send</span>
                                                                </a>
                                                            </div>
                                                            </li> #}

                                                            {# <li>
                                                            <div class="meta-box icon-box">
                                                                <a href="{{ path('edit_demande_rdv', {'id': demande.id}) }}" class="navbar-link active icon-box">
                                                                <span title="Modifier" class="material-symbols-rounded  icon">edit</span>
                                                                </a>
                                                            </div>
                                                            </li> #}

                                                            {# <li> #}
                                                            {# <div class="meta-box icon-box">
                                                                <a href="#" class="navbar-link active icon-box">
                                                                <span title="Alerter" class="material-symbols-rounded  icon">Notifications</span>
                                                                </a>
                                                            </div> #}
                                                            {# </li> #}
                                                            {# <li>
                                                            <div class="meta-box icon-box">
                                                                <a href="{{ path('delete_demande', {'id': demande.id}) }}" class="navbar-link active icon-box">
                                                                <span title="Annuler" class="material-symbols-rounded  icon">Cancel</span>
                                                                </a>
                                                            </div>
                                                            </li> #}
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tr>  
                                              {% endfor %}                                                 
                                            </tbody>
                                          {% endif %}
                                        </table>
                                        </div>
                                    </div>
                                    {# {% for demande in demande %} #}
                                    <div class="text-center"><a href="#">{{ demande | length }} demandes en attente de traitement !</a></div>
                                {# {% endfor %}   #}
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
                        
    </article>

  </main>

{% endblock %}